{
  "openapi": "3.1.0",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "GetProfile API",
    "description": "GetProfile API is a profiling service powered by AI. It allows users to submit their data and receive a profile based on that data. The API provides endpoints for creating, retrieving, and deleting profiles.",
    "termsOfService": "https://getprofile-ai.com/terms",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.getprofile-ai.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/profile/{id}": {
      "get": {
        "description": "Returns a raw profile data",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new or updates an existing profile by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Data to extract a profile from",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully accepted the data for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a profile record by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of profile to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Profile deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "summary": "Smart search for profiles",
        "description": "Search for profiles using semantic vector search and classic filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Natural language search query. If provided, enables vector-based semantic search.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "sensitivity",
            "in": "query",
            "description": "Vector search similarity threshold (0-100). Higher = stricter match.",
            "required": false,
            "schema": { "type": "integer", "default": 63 }
          },
          {
            "name": "filterBy",
            "in": "query",
            "description": "Field to filter by (e.g. `name`, `location`, `language`, `id`).",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "filterValue",
            "in": "query",
            "description": "Value to filter for (case-insensitive partial match).",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by (e.g. `last_updated`, `created_at`, `name`). Ignored when using vector search.",
            "required": false,
            "schema": { "type": "string", "default": "last_updated" }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sorting order: `asc` or `desc`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of profiles per page.",
            "required": false,
            "schema": { "type": "integer", "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of matching profiles and pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profiles": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Profile" }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of matching profiles (approximate for vector search)."
                    },
                    "page": { "type": "integer" },
                    "pageSize": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "GetProfileResponse": {
        "type": "object",
        "required": ["profile_id", "profile"],
        "properties": {
          "profile_id": {
            "type": "string",
            "description": "The unique identifier of the profile"
          },
          "profile": {
            "$ref": "#/components/schemas/Profile"
          }
        }
      },
      "Profile": {
        "type": "object",
        "required": [
          "profile_id",
          "tenant_id",
          "status",
          "created_at",
          "last_updated"
        ],
        "properties": {
          "profile_id": {
            "type": "string",
            "description": "The unique identifier of the profile"
          },
          "tenant_id": {
            "type": "string",
            "description": "Unique identifier for the tenant that owns this profile"
          },
          "status": {
            "type": "string",
            "enum": ["processing", "ready"],
            "description": "The current status of the profile"
          },
          "core_info": {
            "type": "object",
            "description": "Core information about the profile",
            "properties": {
              "name": { "$ref": "#/components/schemas/ScoredValueString" },
              "age": { "$ref": "#/components/schemas/ScoredValueInteger" },
              "gender": { "$ref": "#/components/schemas/ScoredValueString" },
              "location": { "$ref": "#/components/schemas/ScoredValueString" }
            }
          },
          "interests": {
            "type": "object",
            "description": "Interests and hobbies of the profile",
            "additionalProperties": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/ScoredValueString" }
            }
          },
          "personality": {
            "type": "object",
            "description": "Personality traits and mood trends",
            "properties": {
              "traits": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ScoredValueString" }
              },
              "mood_trends": {
                "type": "object",
                "properties": {
                  "default": {
                    "$ref": "#/components/schemas/ScoredValueString"
                  },
                  "recent": { "$ref": "#/components/schemas/ScoredValueString" }
                }
              }
            }
          },
          "memories": {
            "type": "array",
            "description": "Important events and memories",
            "items": {
              "type": "object",
              "required": ["event"],
              "properties": {
                "event": { "type": "string" },
                "date": { "type": "string", "format": "date" },
                "importance": {
                  "type": "string",
                  "enum": ["low", "medium", "high"]
                },
                "confidence": { "type": "number", "format": "float" }
              }
            }
          },
          "preferences": {
            "type": "object",
            "description": "Profile-specific preferences",
            "properties": {
              "conversation_style": {
                "$ref": "#/components/schemas/ScoredValueString"
              },
              "topics_to_avoid": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ScoredValueString" }
              }
            }
          },
          "field_timestamps": {
            "type": "object",
            "description": "Timestamps for profile field updates",
            "additionalProperties": {
              "type": "string",
              "format": "date-time"
            }
          },
          "update_log": {
            "type": "array",
            "description": "Log of updates made to the profile",
            "items": {
              "type": "object",
              "properties": {
                "extracted_on": { "type": "string", "format": "date-time" },
                "changes": {
                  "type": "object",
                  "description": "Partial updates to the profile"
                }
              }
            }
          },
          "last_updated": {
            "type": "string",
            "format": "date-time",
            "description": "The last time the profile was updated"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date the profile was created"
          },
          "summary": {
            "type": "string",
            "description": "A natural language summary of the profile"
          }
        }
      },
      "ScoredValueString": {
        "type": "object",
        "properties": {
          "value": { "type": "string" },
          "confidence": { "type": "number", "format": "float" }
        }
      },
      "ScoredValueInteger": {
        "type": "object",
        "properties": {
          "value": { "type": "integer" },
          "confidence": { "type": "number", "format": "float" }
        }
      },

      "ProfileUpdateRequest": {
        "required": ["data"],
        "type": "object",
        "properties": {
          "data": {
            "description": "Data to extract a profile from. Can be plain text, JSON, markdown or any other format.",
            "type": "string"
          },
          "input_type": {
            "description": "Type of the input data, e.g. `chat history`, `character description`, `activity log`, etc.",
            "type": "string"
          }
        }
      },
      "ProfileUpdateResponse": {
        "required": ["id", "message"],
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier of the profile",
            "type": "string"
          },
          "message": {
            "description": "Acceptance message",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
