{
  "openapi": "3.1.0",
  "info": {
    "title": "GetProfile API",
    "description": "GetProfile API is a profiling service powered by AI. It allows users to submit their data and receive a profile based on that data. The API provides endpoints for creating, retrieving, and deleting profiles.",
    "termsOfService": "https://getprofile-ai.com/terms",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.getprofile-ai.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/profile/{id}": {
      "get": {
        "description": "Returns a raw profile data",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new or updates an existing profile by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Data to extract a profile from",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully accepted the data for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a profile record by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of profile to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Profile deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Profile": {
        "required": ["id"],
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier of the profile",
            "type": "string"
          },
          "core_info": {
            "description": "Core information about the profile",
            "type": "object",
            "properties": {
              "name": {
                "description": "Name of the profile",
                "type": "string"
              },
              "age": {
                "description": "Age of the profile owner",
                "type": "integer",
                "format": "int32"
              },
              "location": {
                "description": "Location of the profile owner",
                "type": "string"
              },
              "gender": {
                "description": "Gender of the profile owner",
                "type": "string"
              }
            }
          }
        }
      },
      "ProfileUpdateRequest": {
        "required": ["data"],
        "type": "object",
        "properties": {
          "data": {
            "description": "Data to extract a profile from",
            "type": "object",
            "additionalProperties": true
          },
          "input_type": {
            "description": "Type of the input data, e.g. `chat history`, `character description`, `activity log`, etc.",
            "type": "string"
          }
        }
      },
      "ProfileUpdateResponse": {
        "required": ["id", "message"],
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier of the profile",
            "type": "string"
          },
          "message": {
            "description": "Acceptance message",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
